/* UserList */

h1{
    margin: 0 20px;
}

.userBox{
    display: flex;
    background-color: rgba(127, 240, 255, 0.623);
    width: 600px;
    padding: 10px;
    margin: 20px;
    gap:10px;
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 130px;
    /* align-items: center; */
}

img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: bisque;
}
p{
    margin: 0px;
}
.connect{
    align-self:center;
}