.logindata {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-size: 0.8rem;
    gap: 5px;
    cursor: pointer;

}

.logindata:hover {
    background-color: rgba(45, 184, 248, 0.512);
}